@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-700 pt-8;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.backdrop {
  backdrop-filter: blur(6px);
}

.top-n-1 {
  top: -5px;
}

header.isSticky .title {
  opacity: 0;
  transition: 0.5s;
}

.leftNav {
  opacity: 0;
}

.leftNav.isSticky {
  opacity: 1;
  transition: 0.5s;
}

/* https://jarv.is/notes/css-waving-hand-emoji/ */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.667s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.whitespacing {
  word-spacing: 5px;
}

div.code > span.whitevs {
  color: white;
}

div.code > span.purplevs {
  color: #a173c2;
}

div.code > span.redvs {
  color: #e46b76;
}

div.code > span.orangevs {
  color: #d19a66;
}
div.code > span.greenvs {
  color: #98c177;
}
div.code > span.bluevs {
  color: #61b4f8;
}
div.code > span.yellowvs {
  color: #fdf252;
}

div.code {
  font-size: 14px;
}

@keyframes blinkingBg {
  0% {
    box-shadow: 0px 0px 30px 30px rgba(255, 0, 0, 0.3);
  }
  25% {
    box-shadow: 0px 0px 30px 30px rgba(0, 255, 0, 0.3);
  }
  50% {
    box-shadow: 0px 0px 30px 30px rgba(30, 144, 255, 0.3);
  }
  75% {
    box-shadow: 0px 0px 30px 30px rgba(255, 20, 147, 0.3);
  }
  100% {
    box-shadow: 0px 0px 30px 30px rgba(255, 0, 0, 0.3);
  }
}

.blink-bg {
  animation: blinkingBg 5s infinite !important;
}
